doctype html
html
  head
    
    link(rel='stylesheet', href='/stylesheets/style.less')
    script(src='javascripts/calculator.js')
    script(src='javascripts/vendor/qunit.js')
  body
  
  
  h1 Buying a Computer
  
  
  block content
 
  
    
