doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.less')
    script(src='javascripts/calculator.js')
    script(src='javascripts/vendor/qunit.js')
  body
  a(href="localhost:3000/add") Add    
  a(href="localhost:3000/subtract")    Subtract    
  a(href="localhost:3000/multiply")    Multiply    
  a(href="localhost:3000/divide")    Divide    
  
  h1 A Simple Calculator 
  
  
  block content
 
  
    
