block content
  p Screen Size
  input(type='text', name='country', value=screenSize, readonly='readonly')
  p HDD Size
  input(type='text', name='country', value=hddSize, readonly='readonly')
  p RAM
  input(type='text', value=ramSize, readonly='readonly')
  p Price
  input(type='number' value=price, readonly='readonly')
  br